body {
    background-image: url(./img/Dibujo1440x748.jpg);
    background-repeat: no-repeat;
}

.navbar {
    background: rgba(32, 178, 170, 0.5);
    color: goldenrod;
    font-family: 'Lobster', cursive;
    font-size: 28px;
}

.navbar-brand {
    font-size: 28px;
}

.nav-link {
    color: goldenrod;
    font-family: 'Lobster', cursive;
}

.nav-link:hover {
    color: gold;
}

.row {
    margin: 0%;
}

#firstRow {
    margin-top: 25px;
}

#secondRow {
    margin-top: 218px;
}

.btn {
    opacity: 0.2;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    width: 100%;
}

.btn:hover {
    opacity: 1.0;
    color: goldenrod;
    border-color: goldenrod;
    background-image: linear-gradient(to bottom right, lightseagreen, white);
}

@media (max-width:425px) {
    body {
        background-image: url(./img/Dibujo425x815.jpg);
        background-repeat: no-repeat;
    }
}